<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="UTF-8">
    <title>Single Page</title>
    <script src="{% static 'sections/singlepage.js' %}"></script></head>
<body>
    <button data-section="1">aaaaa 1</button>
    <button data-section="2">Section 2</button>
    <button data-section="3">Section 3</button>
    <div id="content">
        <img id="trompete" src="{% static 'website/images/dream.jpg' %}">
        <p>Este site é um site para as crianças se divertirem com as suas personagens preferidas
            e esta imagem diz dreamworld que
            é exatamente o que tentei fazer neste site para as crianças um mundo de sonho.</p>
    </div>
</body>
</html>