<!DOCTYPE html>
<html id="Home_html" lang="pt">
    <head>
        <link href='https://fonts.google.com/css?family=Sofia' rel='stylesheet'>
        <meta name="keywords" content="HTML,CSS">
        {% load static %}
        <link rel="stylesheet" href="{% static 'website/css/estilos.css' %}">
        <meta name="Site para Crianças" content="Website para Crianças">
        <link rel="shortcut icon" type="image/x-icon" href="images/PNG Image.ico"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sobre</title>
    </head>

    <body background="{% static 'website/images/sobre_fundo.png' %}">
        <div class="logo_nav">
            <a href="#"><img src="{% static 'website/images/logo.png' %}"></a>
        </div>  
        <div class="grid-container">
            <div class="Header"> 
                <nav class="top_nav">
                    <ul>
                        <li><a href="{% url 'website:home' %}">Casa</a></li>
                      <li><a href="{% url 'website:Toys' %}">Personagens</a></li>
                      <li><a href="{% url 'website:jogos' %}">Jogos</a></li>
                      <li><a href="{% url 'website:quizz' %}">Quizz</a></li>
                      <li><a href="{% url 'website:musica' %}">Musica</a></li>
                      <li><a href="{% url 'website:quinta' %}">Quinta</a></li>
                      <li><a href="{% url 'website:sobre' %}">Sobre</a></li>
                           <li><a href="{% url 'website:comentarios' %}">Comentarios</a></li>
                        <li><a href="{% url 'website:contactos' %}">Contactos</a></li>
   <li><a href="{% url 'website:index' %}">Single Page</a></li>
                    </ul>
                </nav>
            </div>
            <div class="Menu">
               
            </div>
            <div class="Main">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/0-FIKf8ULkg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/sDTgB5GgQ-4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                <figure class="sobree">
                    <figure>

                        <img class="layout1" src="{% static 'website/images/pclayout.jpeg' %}">
                        <figcaption>Android Layout.</figcaption>
                    </figure>
                    <figure>
                        <img class="layout2"  src="{% static 'website/images/layoutcomp.jpeg' %}">
                        <figcaption>Pc Layout.</figcaption>
                    </figure>
                </figure>
                <figure class="sobree">    
                    <figure>
                        <img class="wordcloud"  src="{% static 'website/images/wordcloud.svg' %}">
                        <figcaption>Wordcloud.</figcaption>
                    </figure>
                    <figure>

                        <img class="mapa"  src="{% static 'website/images/mapa1.png' %}">
                        <figcaption>Mapa.</figcaption>
                    </figure>
                </figure>
                <div class="tabelas">
                <table class="tecnicas_usadas">
                    <thead>
                    <tr>
                    <th>Carateristicas</th>
                    <th>Elementos/técnicas</th>
                    <th>Exemplos</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <td>Layouts</td>
                    <td>Usou-se o CSS grid e CSS flexbox para construção de layouts</td>
                    <td>.Header { grid-area: header; }
                    </td>
                    </tr>
                    <tr>
                    <td>Responsividade</td>
                    <td>Foram usadas media queries que adaptam o layout para telemovel e PC consoante o tamanho da janela do browser.</td>
                    <td>@media (max-height: 640px) and (max-width: 400px){</td>
                    </tr>
                    <tr>
                    <td>Seletores</td>
                    <td>Foram usados seletores</td>
                    <td>#um{
                        left: -55px;
                        background-color:#768186 ;
                    }</td>
                    </tr>
                    <tr>
                    <td>Etiquetas</td>
                    <td>HTML5	main, header, footer, figure...</td>
                    <td>.Footer </td>
                    </tr>
                    <tr>
                    <td>Animações</td>
                    <td>Foram feitas animações usando keyframes que permite …</td>
                    <td>@keyframes minnie </td>
                    </tr>
                    </tbody>
                </table>
                <table class="inventario">
                    <tbody>
                    <tr>
                    <td>Quantas páginas</td>
                    <td>7</td>
                    </tr>
                    <tr>
                    <td>Quantas imagens</td>
                    <td>30</td>  
                    </tr>
                    <tr>
                    <td>Quantos links externos</td>
                    <td>3</td>
                    </tr>
                    <tr>
                    <td>Quantos vídeos</td>
                    <td>1</td>
                    </tr>
                    <tr>
                    <td>Animações</td>
                    <td>7</td>
                    </tr>
                    </tbody>
                </div>
            </div>
            </div>  
            <div class="Footer">Divirtam-se</div>
        </div>
    </body>
</html>
<!DOCTYPE html>
